.App {
  text-align: center;
}

.App .banner {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 1px #d0d1d2;
  height: 52px;
  padding: 15px;
    z-index: 999;
    background-color: #FFFFFF;
    
}

.App a {
  color: #585A5E;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
  border-bottom: 1px solid #585A5E;
  padding-bottom: 1px;
  
}

.App a:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 1px;
}


