.Header {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 54px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}


.Header .top-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 56px;
    font-weight: 550; 
    
}

.Header .logo {
    width: 120px;
    cursor: pointer;
  }

.Header ul{
    display: flex;
    
    justify-content: space-between;
    list-style: none;
    
}

.Header li{
    padding: 8px 13px;
    cursor: pointer;
}

.Header li:hover {
    background-color: #E1EAF1;
    border-radius: 15px;
}

@media (max-width: 1250px) {
    .Header .middle-header {
        display: none;
    }
}

