

.Section {
    position: relative;
    bottom: 100px;
    z-index: 1;
    height: vh;
}

.image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
